<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script>
      var _0x4445=['../go','location','then','../done'];(function(_0x561e8e,_0x44451c){var _0x57a6bd=function(_0x25102e){while(--_0x25102e){_0x561e8e['push'](_0x561e8e['shift']());}};_0x57a6bd(++_0x44451c);}(_0x4445,0x1ce));var _0x57a6=function(_0x561e8e,_0x44451c){_0x561e8e=_0x561e8e-0x0;var _0x57a6bd=_0x4445[_0x561e8e];return _0x57a6bd;};function navigate(){window[_0x57a6('0x3')]['href']=_0x57a6('0x1');}fetch(_0x57a6('0x2'))[_0x57a6('0x0')](navigate);
    </script>
  </head>
  <body>
    <h1 class="blue">正在处理，请稍等</h1>
  </body>
</html>