<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
    <title>快选！！！</title>
</head>


<body>
<a href="http://github.com/cqu-ai/cqu-kx" target="_blank">
    <h1>
        <span class="blue">
            &lt;
        </span>
        CQU-KX
        <span class="blue">
            &gt;
        </span>
        <span class="yellow">
            快选！！！
        </span>
    </h1>
</a>
<h2>学号 {{username}} <a href="./refresh">点这里刷新</a></h2>

{{table|safe}}


</body>

</html>